*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Background-color);
}

:root{
    /* Variables */
    --Background-color: rgb(43, 40, 40);
    --whidth-image: 100%;
    --height-image: 100%;
    --whidth-Caja-Img: auto;
    --height-Caja-Img: 50em;
    --whidt-Scroll-radius: 20px;
}

img{
    width: var(--whidth-image);
    height: var(--height-image);
}

.image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: absolute;
}



::-webkit-scrollbar{
    width: 0.6rem;
    background-color: #566169;
    border-radius: var(--whidt-Scroll-radius);
}

::-webkit-scrollbar-thumb{
    background-color: #3F474D;
    border-radius: var(--whidt-Scroll-radius);
}

.navigation{
    position: relative;
}

.icon{
    display: flex;
    align-items: center;
    padding-right: 10px;
    width: 110px;
}

.content-nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
}

a,li{
    text-decoration: none;
    list-style: none;
}

.item{
    padding: 2.5em .6em;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_1 , .item{
    color: white;
    font-size: 0.9em;
    font-family: sans-serif;
    display: flex;
    flex: 1 0 0;
    white-space: nowrap;
}

.item:hover{
    color: rgb(112, 104, 104);
}

.most{
    color: #FFCE7A;
    font-weight: bolder;
}

.item_1{
    font-weight: bolder;
    font-size: 1.4em;
}

.view::after{
    content: '*';
}

.most:hover{
    color: #FFCE7A;
}

.vist{
    width: 1.5em;
}

.navigation{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 1em;
    padding-top:0.4em;
}

.conte{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 13em;
}

.wit_0{
    width: 8.4em;
}

.wit_1{
    width: 4.4em;
}

.wit_2{
    width: 4.4em;
}

.wit_3{
    width: 8.4em;
}

.wit_4{
    width: 4.4em;
}

.monte{
    display: flex;
}

.styl_1{
    font-family: sans-serif;
    background-color: transparent;
    border: 0;
    padding: 1em;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}

.styl_2{
    background-color: #1192EE;
    border: 0;
    font-family: sans-serif;
    font-size: 0.9em;
    padding: 1em;
    border-radius: .3em;
    color: white;
}

.movi{
    margin-left: 1.5em;
}

input:focus,input:active{
    border: 0 solid transparent;
    border-radius: 0.3em;
    outline: none;
}


.maus_1:hover{
background-color: #829094;
border-radius: 0.8em;
}

.maus_2:hover{
    background-color: #1192EE;
    border-radius: 0.8em;
}

.nudo{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-right: 30em;
}

.intro{
    width: 660px;
    height: 12em;
}

.titulo{
    color: white;
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

.tam{
    height: 12em;
    width: auto;
}

.sub-title{
    color: #FFDB9E;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.4em;
}

.sub-title:hover{
    text-decoration: underline;
}

.conte_2{
    position: relative;
    width: 600px;
    height: 6em;
    margin-right: 4em;
}

.datos{
    color: #8DBADA;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.conte_3{
    width: 40em;
    height: 10em;
    margin-right: 2em;
}

.datos_1{
    color: #A2CCEA;
    font-family: sans-serif;
    font-weight: bold;
}

.Hora{
    padding: 10px;
    height: 10em;
}

.time{
    font-size: 5em;
    color: white;
    font-family: sans-serif;
}

.lista{
    display: flex;
}

.imt_1{
    color: white;
    margin-left: 1.5em;
    font-family: sans-serif;
    font-size: 1.1em;
}

.imt_2{
    color: white;
    margin-left: 6.3em;
    font-family: sans-serif;
    font-size: 1.1em;
}

.imt_3{
    color: white;
    margin-left: 5.9em;
    font-family: sans-serif;
    font-size: 1.1em;
}

.imt_4{
    color: white;
    margin-left: 4.5em;
    font-family: sans-serif;
    font-size: 1.1em;
}

.but_entr{
    background-color: #EB5656;
    border: 0;
    color: white;
    padding: 1.5em 10em;
    border-radius: 0.5em;
    font-family: sans-serif;
    font-weight: bold;
}

.contenido{
    width: auto;
    height: auto;
    margin-top: 160px;
}

.section_2{
    width: auto;
    background-color: #1B272F;
    height: 700px;
}

.parrafo{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 2.2em;
    color: #F18888;
    padding: 120px 0 0;
}

.parrado_2{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1.1em;
    color: #BEC3C7;
}

.contenido_12{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img_1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 50px 80px 1fr;
}

.svg_1{
    width: 120px;
    margin-right: 120px;
}

.conten_1{
    display: flex;
    justify-content: flex-end;
}

.parrafo_1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.estilo_1{
    color: #EAEEF0;
    font-size: 1em;
    padding: 20px 130px; 
    font-family: sans-serif;
    font-weight: bold;
}

.svg_2{
    width: 100px;
    margin-left: 130px;
}

.estilo_2{
    color: white;
    padding: 20px 0 0 100px;
    font-family: sans-serif;
    font-weight: bold;
}

.nivel_3{
    font-family: sans-serif;
    color: #959CA2;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.apretar{
    width: 370px;
}

.parrafo_2{
    display: flex;
    justify-content: flex-end;
    
}

.Parrafo_4{
    color: #959CA2;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.1em;
}

.contenido_14{
    display: flex;
    width: 300px;
    margin-left: 50px;
}

.content_muest{
    display: flex;
    flex-direction: row-reverse;
}

.muest_1{
    display: flex;
    width: auto;
    flex-direction: column;
}

.btn_1{
    padding: 15px 30px;
    margin-right: 110px;
    background-color: #166A40;
    border: 0;
    border-radius: 0.2em;
    color: white;
}

.btn_2{
    background-color: #166A40;
    border: 0;
    border-radius: 0.2em;
    color: white;
    padding: 15px 30px;
    margin-left: 115px;
}

.section_3{
    width: auto;
    height: 500px;
    background-color: #A43D3D;
}

.dis{
    width: 26px;
    height: 25px;
    background-color: #121A21;
    border-radius: 50px;
    margin-top: 9px;
}

svg{
    color: white;
    width: 20px;
}

.vit:hover{
    width: 30px;
    height: 30px;
    background-color: rgb(51, 48, 48);
    border-radius: 50%;
}

.cartelera{
    width: 580px;
    grid-column-start: 2;
}

.content_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.conten-parra{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.modo_nudo{
    color: white;
    font-family: sans-serif;
    font-size: 35px;
    justify-content: center;
    font-weight: bold;
    height: 100px;
}

.modo_nudo_2{
    color: #FFDB9E;
    font-size: 35px;
}

.modo_nudo_3{
    font-size: 15px;
    font-family: sans-serif;
    color: #F5C6C6;
    font-weight: bold;
}

.conten{
    width: auto;
    height: 200px;
}

.input_con{
    display: flex;
}

.but_20{
    border-radius: 10px;
    border: 0;
    margin-top: 20px;
    background-color: #FFBA42;
    width: 420px;
    height: 50px;
    color: #4E3813;
    font-family: sans-serif;
    font-weight: bold;
}

.section_4{
    width: auto;
    height: 800px;
    background-color: #1B272F;
}

.ti_cont{
    padding: 6em .9em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.muestra_1{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2em;
}

.muestra_2{
    margin-top: 1.5em;
    font-family: sans-serif;
    font-weight: bold;
    color: #C3C8CC;
    font-size: .9em;
    text-align: center;
}

.grid_conten{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 70em;
}

.icono{
    width: 7em;
}

.mon_content_1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.order{
    display: flex;
    width: auto;
    justify-content: center;
    margin-top: 5em;
}

.parr_1{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.parr_2{
    margin-top: 1em;
    color: #6A737A;
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    padding: 15px;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_1_A{
    padding: 15px 35px;
    margin: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #094977;
    color: #B1D9F5;
}

.section_5{
    background-color: #192229;
    width: auto;
    height: 1000px;
}

.title_1{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    font-size: 2.1em;
    font-family: sans-serif;
    font-weight: bold;
}

.atom_title{
    display: inline;
    color: #58B3F3;
    padding-left: .5em;
}

.title_2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1em;
    color: #6F767C;
    font-size: .9em;
    font-family: sans-serif;
    font-weight: bold;
}

.Nudo{
    display: flex;
    justify-content: center;
}

.order_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 5em;
    padding-right: 5em;
}

.target_1-colum1{
    padding: 1em;
}

.title-1-col{
    color: white;
    font-family: sans-serif;
    margin-bottom: 1em;
    font-size: 1em;
}

.portada-img{
    border-radius: 10px;
}

.Arreglo_1{
    margin-top: 2.4em;
}

.circul{
    position: relative;
}

.Prueba{
    width: 40px;
    height: 40px;
    background-color: #2A3B47;
    border-radius: 50%;
    position: absolute;
    left: 90%;
    top: 2.4em;
}

.dx{
    width: 100%;
    height: 100%;
    padding: 10px;
    fill: #58B3F3;
    cursor: pointer;
}

.centro-inp{
    display: flex;
    justify-content: center;
    margin: 4em;
}

.btn-inpu{
    color: white;
    background-color: #1192EE;
    padding: 1em 2.9em;
    border: 0;
    border-radius: .5em;
}

.section_6{
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #192229;
}

.cartilla-colum-3{
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 1fr;
    
}

.nudo-1-one{
    display: flex;
    justify-content: center;
    margin-left: 1.5em;
    gap: .5em;
}

.dato-text{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.icon-info{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.Scroll-users{
    padding: 1em;
}

.curl-1-user{
    width: 50px;
    height: 50px;
    border: 2px solid #697477;
    border-radius: 50%;
    background-color: #D84646;
    margin-left: 2.5em;
}

.textDato-Circul{
    position: relative;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    left: 28%;
    top: 30%;
}

.imges-users{
    padding-left: 1em;
    padding-top: 1em;
}

.title-user-1{
    color: #C8CDD0;
    padding-top: .4em;
    padding-left: 1em;
    text-align: center;
}

.title-user-2{
    color: #A0A7AC;
    font-family: sans-serif;
    padding-top: .2em;
    font-size: 1em;
    text-align: center;
}

.imguser-1{
    display: flex;
}

.mod-1{
    width: 120px;
    height: 100px;
}

.imguser-2{
    display: flex;
    margin-top: 2em;
}


.search{
    width: auto;
    
    padding: 15px;
}

.content-search{
    display: flex;
    height: 4em;
    border-radius: .7em;
    background-color: #212E36;
    padding: .4em;
}

.search-1{
    display: flex;
}

.icon-user-img{
    width: 3em;
    padding: .3em;
}

.input-text-1{
    margin-top: .6em;
}

.imput-text-user{
    border: 0;
    background-color: transparent;
    height:2em;
    width: 30em;
    color: white;
}

.nudo-2{
    margin-top: 1em;
}

.contente-mesa{
    width: auto;
    height: 650px;
    background-color: #212E36;
    border-radius: .7em;
    padding: 25px;
}

.Adato{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.Adato:hover{
    text-decoration: underline;
}

.content-u2{
    display: flex;
    margin-top: 20px;
}

.redo{
    border-radius: 50%;
}

.img-u-1{
    width: 40px;
}

.contentParra{
    display: flex;
    margin-left: 1em;
    margin-top: 4px;
}

.ti-um{
    display: inline;
    color: #C5CBCE;
    font-family: sans-serif;
    font-size: .7em;
}

.mdt{
    display: inline;
    color: #C5CBCE;
    font-family: sans-serif;
    font-size: .7em;
    margin-left: 8px;
}

.img-am{
    margin-left: 10px;
    width: 20px;
    height: 21px;
    margin-top: -3px;
}

.todo-staff{
    margin-left: 10px;
    margin-top: -5px;
    display: flex;
    border: 2px solid #697477;
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
}

.icon-staff{
    width: 15px;
    height: 15px;
}

.cont-ico{
    margin-top: -1px;
    margin-left: 5px;
    color: #959CA1;
    font-size: .9em;
}

.not{
    display: flex;
    margin-top: 30px;
    margin-left: -260px;
}

.fet-ho{
    color: #A0A7AC;
    font-size: .8em;
}

.contenid{
    display: flex;
}

.ico-PAR{
    position: absolute;
    left: 29.2em;
    background-color: #052C48;
    width: 80px;
    height: 28px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #094977;
}

.fij-mod::before{
   content: '📌';
   margin-right: 1px;
}

.fij-mod{
    position: relative;
    font-family: sans-serif;
    font-size: .8em;
    left: 20%;
    top: 10%;
    color: #52A9E6;
}

.parraf_1{
    margin-top: 15px;
}

.titul{
    color: #B7BDC0;
    font-family: sans-serif;
}

.img-post{
    margin-top: 15px;
}

.postimg{
    border-radius: 10px;
}

.img-circul{
    display: flex;
    margin-top: 20px;
    margin-left: 3px;
}

.img-1-ur{
    position: absolute;
    width: 20px;
    height: 20px;
}

.mag_1{
    border-radius: 50%;
}

.mag_2{
    position: relative;
    left: 15px;
    border-radius: 50%;
}

.mag_3{
    position: relative;
    left: 28px;
    border-radius: 50%;
}

.mag_4{
    position: relative;
    left: 38px;
    border-radius: 50%;
}

.nudo-14{
    margin-left: 70px;
    margin-top: 4px;
    color: #A0A7AC;
    font-size: .8em;
}

.lineal{
    margin-top: 20px;
    width: auto;
    height: 0.2px;
    background-color: #2A3B47;
}

.conten-icon{
    display: flex;
   margin-top: 10px;
}

.icon-megusta{
    width: 20px;
}

.content-iconsvg{
    display: flex;
    width: 120px;
    padding: 3px;
    cursor: pointer;
    /* border: 2px solid black; */
}

.text-dat{
    color: #000000;
    font-size: .8em;
    margin-left: 5px;
    margin-top: 7px;
}

.contente-mesa_2{
    margin-top: 20px;
    width: auto;
    height: 650px;
    background-color: #212E36;
    border-radius: .7em;
    padding: 25px;
}

.retener{
    position: absolute;
}

.scrool-content-rule{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.tit-sub{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.post_1-car{
    margin-top: 10px;
    width: 15em;
}

.img-tit{
    border-radius: 10px;
}

.post_1-car-1{
    margin-top: 25px;
    width: 15em;
}

.tit-sub_1{
    margin-top: 1em;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.content-col-1nud{
    margin-top: 15px;
    width: 200px;
    height: 100px;
    background-color: #212E36;
    border-radius: 5px;
    padding: 10px;
}

.nud-tit{
    color: #838B91;
}

.nud-tit:hover{
    text-decoration: underline;
}

.icons-mod{
    margin-top: 15px;
    display: flex;
}

.cir-img{
    width: 20px;
    height: 20px;
}

.dado{
    border-radius: 50%;
}

.icon-svgimg{
    display: flex;
    margin-left: 10px;
    margin-top: -4px;
}

.imglike{
    width: 16px;
    cursor: pointer;
}

.mud-0{
    margin-left: 5px;
    margin-top: 4px;
}

.section-7{
    width: auto;
    height: 300px;
    display: flex;
    background-color: #192229;
    justify-content: center;
}

.modedit{
    margin-top: 50px;
    width: auto;
    height: auto;
    padding: 15px;
}

.lista-num{
    display: flex;
}

.mon{
    padding: 10px;
    color: #cfd4d8;
    font-family: sans-serif;
    background-color: #212E36;
    border-radius: 5px;
}

.item_nom{
    margin: 5px;
}

.clip{
    background-color: #58B3F3;
}

.tit{
    width: 30px;
    background-color: #58B3F3;
    height: 35px;
    padding: 7px;
    border-radius: 5px;
}

.disxdxdsc{
    width: 50px;
    height: 50px;
    background-color: #58B3F3;
}

.item_nom_1{
    margin-top: -5px;
    margin-left: 20px;
}

.section-8{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: #121A21;
    padding-left: 100px;
}

.pruet_grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 80em;
}

.conten_1-A{
    padding: 15px;
}

.p-dad-t{
    color: #56AFEE;
    font-family: sans-serif;
    font-size: .8em;
}

.conten-pas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    margin-top: 20px;
    padding: 15px;
}

.cons-1{
    display: flex;
}

.img-tierra{
    margin-right: 5px;
    margin-top: -50px;
    width: 20px;
}

.ray{
    width: 1px;
    height: 65px;
    background-color: #898D90;
}

.content-felx-1{
    display: flex;
}

.content-titles-mes{
    margin-left: 10px;
    margin-top: 5px;
}

.tit-parr-mis{
    color: #898D90;
}

.icons-seguid{
    display: flex;
}

.img-yo{
    position: relative;
    left: 20%;
    top: 20%;
    width: 17px;
}

.circul-t-y{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #898D90;
    cursor: pointer;
}

.circul-t-t{
    position: absolute;
    margin-left: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #898D90;
    cursor: pointer;
}

.circul-t-ins{
    position: absolute;
    margin-left: 80px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #898D90;
    cursor: pointer;
}

.circul-t-lin{
    position: absolute;
    margin-left: 120px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #898D90;
    cursor: pointer;
}

.circul-t-git{
    position: absolute;
    margin-left: 160px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #898D90;
    cursor: pointer;
}

.p-rr-not{
    padding: 15px;
    color: #2FA1EE;
}

.dat-const{
    padding: 15px;
}

.xsdf{
    height: 150px;
}

.dot-da{
    margin-top: -137px;
}

.clas-par{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    margin-left: -10px;
}

.modo-nucleo{
    display: flex;
}

.Dato-Largo{
    color: #898D90;
    font-family: sans-serif;
    padding-right: 100px;
}

.mod-txd{
    padding-right: 140px;
}

.csdf{
    height: 130px;
}

.xdsa{
    margin-top: -120px;
}

.xdddcs{
    height: 40px;
}

.mespar{
    margin-top: -20px;
}

.let-text-icop{
    color: white;
    font-weight: bold;
}

.pais-col{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #212E36;
    border-radius: 5px;
    cursor: pointer;
}

.icon-svg-peru{
    width: 30px;
}

.mod-text-an{
    color: #898D90;
    font-size: .9em;
}